{% extends 'base.html' %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Offline School Management System</h1>
        <p class="lead">A complete solution for managing your school's academic and administrative tasks, entirely offline.</p>
        <hr class="my-4">
        <p>You can manage students, staff, academics, and finances all in one place.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
{% endblock %}

